/*
*******************************************************************************************************************
*****  # BUTTONS STYLING
*******************************************************************************************************************
*/

button-bg = #F5F5F5
button-fc = #AAAAAA
button-dfc = #5F5F5F
button-bc = lighten(button-fc, 45%)

.text-center
	text-align center!important

.link
	vertical-align middle
	color button-fc
	line-height 40px

.seprator
	display inline-block
	background-color button-bc
	margin 0 8px
	width 1px
	height 12px
	vertical-align middle

.general-button
	display inline-block
	border 1px solid button-bc
	border-radius 15px
	padding 5px 15px
	margin 15px .5%
	margin-bottom 10px
	-font(button-dfc, 500, 11px, 12px, main-font, uppercase)