/*
*******************************************************************************************************************
*****  # FOOTER STYLES
*******************************************************************************************************************
*/

footer-bg = #F5F5F5
footer-fc = #AAAAAA

.footer
	background-color footer-bg
	border-right 1px solid mail-bc
	border-left 1px solid mail-bc
	.footer-logo
		display inline-block
