/*
*******************************************************************************************************************
*****  # HEADER STYLES
*******************************************************************************************************************
*/

.header
	-font(white, 500, 14px, 1em, main-font, uppercase)
	.header-bg
		background-size 10px
		background-repeat repeat-y no-repeat
		background-position top center
	.header-logo
		display inline-block
		background-color gray
		margin 10px 0

		
